@font-face {
    font-family: '';
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

:root {
    font-size: 16px;
    scrollbar-width: none;
    scroll-behavior: smooth;
    --verde-oscuro: #021C10;
    --verde-apagado: #18311D;
    --verde-medio: #104C30;
    --verde-claro: #03812D;
    --verde-neon: #0BDA51;
    --marron-oscuro: #311E17;
    --marron-medio: #816242;
    --naranja-pastel: #C7BDA8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    background-image: url('img/fondo1.png');
    /* Cambia la ruta a la imagen de fondo */
    background-attachment: fixed;
    /* Hace que la imagen de fondo sea fija */
    background-size: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    height: 100vh;
    /* Ajusta la altura según sea necesario */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cont_logo img {
    width: 60px;
    height: auto;
}

.btn_reserva {
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    left: 100px;
    top: 30px;
    border: none;
}

.nav1 li {
    transition: opacity 600ms, visibility 600ms;
    opacity: 10;
    visibility: var(--verde-medio);
}

.nav1__cont {
    position: absolute;
    top: 6%;
    left: 90%;
    /* opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms; */
}

.nav1__cont a {
    list-style: none;
    text-decoration: none;
}

.nav1__cont li {
    color: var(--naranja-pastel);
    /* list-style-type: none; */

}

.fondo__h2 {
    position: absolute;
    top: 36%;
    /* transform: translate(-50%, -50%); */
    color: white;

}

.fondo__h1 {
    font-size: 5em;
    position: absolute;
    top: 35%;
    left: 41%;
    color: rgb(253, 253, 253);
}

.fondo__p1 {
    position: absolute;
    top: 57%;
    color: var(--naranja-pastel);
}

.nav1 {
    display: flex;
    justify-content: space-around;
}

a {
    transition: border 1s ease-out cubic;
}

a:hover {
    border: 2px solid #750075;
}

/* //////////////////// INDEX  ////////////////// */
.main--index {
    min-height: 100vh;
}

.hero {
    height: 64vh;
    background-image: url(img/placeholder.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero__h2 {
    animation: hero__h2 0.5s ease-in 1s;
}

.destacados {
    padding: 32px;
    display: grid;
    gap: 16px;
}

.historia__img {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
}

.team__person {
    position: relative;
    height: 40vh;
}

.team__img {
    position: absolute;
    top: -64px;
    left: 64px;
}

/* //////////////////// MENU  ////////////////// */

.menu__nav {
    padding: 16px;
    display: flex;
    align-items: 16px;
}

.menu__img {
    width: 100%;
}

/* //////////////////// KEYFRAMES  ////////////////// */
@keyframes hero__h2 {}

/* //////////////////// MEDIAQUERIES  ////////////////// */
@media screen {}