@font-face {
    font-family: 'Tangerine';
    src: url(fonts/Tangerine/Tangerine-Regular.ttf);
}

@font-face {
    font-family: 'TangerineBold';
    src: url(fonts/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: 'Figtree';
    src: url(fonts/Figtree/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FigtreeItalic';
    src: url(fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf);
}

:root {
    font-size: 18px;
    font-family: 'Figtree';
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    --verde-oscuro: #021C10;
    --verde-apagado: #18311D;
    --verde-medio: #104C30;
    --verde-claro: #03812D;
    --verde-neon: #0BDA51;
    --marron-oscuro: #311E17;
    --marron-medio: #816242;
    --naranja-pastel: #C7BDA8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    background-image: url('img/fondo1.png');
    /* Cambia la ruta a la imagen de fondo */
    background-attachment: fixed;
    /* Hace que la imagen de fondo sea fija */
    background-size: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    height: 100vh;
    /* Ajusta la altura según sea necesario */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_logo img {
    width: 60px;
    height: auto;
}

.btn_reserva {
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    left: 100px;
    top: 30px;
    border: none;
}

.nav1 li {
    transition: opacity 600ms, visibility 600ms;
    opacity: 10;
    visibility: var(--verde-medio);
}

.nav1__cont {
    position: absolute;
    top: 6%;
    left: 90%;
    /* opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms; */
}

.nav1__cont a {
    list-style: none;
    text-decoration: none;
}

.nav1__cont li {
    color: var(--naranja-pastel);
    /* list-style-type: none; */

}

.fondo__h2 {
    position: absolute;
    top: 36%;
    /* transform: translate(-50%, -50%); */
    color: white;

}

.fondo__h1 {
    font-size: 5em;
    position: absolute;
    top: 35%;
    left: 41%;
    color: rgb(253, 253, 253);
}

.fondo__p1 {
    position: absolute;
    top: 57%;
    color: var(--naranja-pastel);
}

.nav1 {
    display: flex;
    justify-content: space-around;
}

a {
    transition: border 1s ease-out cubic;
}

a:hover {
    border: 2px solid #750075;
}

.section--dark {
    background-color: var(--verde-oscuro);
    color: var(--naranja-pastel);
}

h1,
h2,
h3 {
    position: relative;
    display: inline;
    overflow: hidden;
}

h1::after,
h2::after,
h3::after {
    content: "";
    border-bottom: 2px solid var(--verde-neon);
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: -100%;
    transition: 1s left ease;
}

/* h1:hover h1::after,
h2:hover h2::after,
h3:hover h3::after {
    left: 0;
    } */

.menu__h2:hover::after {
    left: 0%;
}

/* //////////////////// INDEX  ////////////////// */
.main--index {
    min-height: 100vh;
}

.hero {
    height: 64vh;
    text-align: center;
    background-image: url(img/vegano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--verde-apagado);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__h2 {
    animation: hero__h2 0.5s ease-in;
}

.destacados__carrusel {
    padding: 32px;
    display: flex;
    gap: 16px;
}

.destacados__card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.destacados__img {
    width: 100%;
}

.historia {
    display: flex;
}

.historia__left,
.historia__right {
    width: 50%;
}

.historia__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 8vw;
}

.historia__right {
    position: relative;
}

.historia__img {
    width: 100%;
}

.historia__img--up {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    animation: historia__img--up 0.5s ease-in 5s infinite;
}

.gridfood__container {
    height: 70vh;
    columns: 5;
}


.team__persona {
    position: relative;
    height: 40vh;
}

.team__img {
    position: absolute;
    top: -64px;
    width: 30vw;
}

.team__img--left {
    left: 64px;
}

.team__img--right {
    right: 64px;
}

.testimonios {
    height: 30vh;
}

.testimonios__carrusel {
    display: flex;
    height: 90%;
    align-items: center;
}

.testimonios__text {
    width: 100%;
    text-align: center;
}

.eventos__grid {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ctafinal {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* //////////////////// MENU  ////////////////// */

.menu__h2 {
    scroll-snap-type: both mandatory;
}

.menu__nav {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: 16px;
    gap: 16px;
    list-style-type: none;
}

.menu__enlace {
    text-decoration: none;
}


.menu__group {
    padding: 3em;
    min-height: 35vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
}

.menu__card {
    text-align: center;
}

.menu__img {
    width: 100%;
}

/* //////////////////// PEDIDO  ////////////////// */
.main--pedido {
    display: flex;
    min-height: 100vh;
}

.producto {
    width: 50%;
    background-color: #021C10;
}


/* //////////////////// KEYFRAMES  ////////////////// */
@keyframes hero__h2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes historia__img--up {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* //////////////////// MEDIAQUERIES  ////////////////// */
@media (max-width: 768px) {}

@media (max-width: 425px) {
    .destacados__grid {
        grid-template-columns: 1fr;
    }

    .gridfood__container {
        grid-template-columns: 1fr;
    }
}